
body {
	font-size: 17px;
	font-family: 'Proxima Nova', Georgia, sans-serif;
}

a.fill-div {
	display: block;
	width: 100%;
	text-decoration: none;
	color: black;
	padding: 20px;
}

#div7:hover, #div8:hover, #div9:hover {
	border: 2px solid;
	border-image: linear-gradient(to bottom,#01d3a4,#029d7b);
	border-image-slice: 1;
}
#div7, #div8, #div9 {
	box-sizing: border-box;
}

/*SVG images*/
.imgSVG{
	width: 60px;
	height: 50px;
}
.sectionTitle {
	margin-bottom: 30px;
}
#main-content h1:first-child{
	margin-bottom: 50px;
	font-size: 50px;
}
#anchor2, #anchor3 {
	margin-top: 50px;
}
#section1, #section2 {
	/* background-color: yellow; */
	background-color: white;
	height: auto;
}
#section3 {
	background-color: rgb(234, 234, 234);
}
#section3 #div7, #section3 #div8, #section3 #div9 {
	background-color: rgb(251, 251, 251);
}
#section1, #section3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#section3 p {
	line-height: 2;
}
#div1, #div4, #div7{
	/* background-color: red; */
}
#div2, #div5, #div8 {
	/* background-color: green; */
}
#div3, #div6, #div9 {
	/* background-color: gray; */
}
#div1, #div2, #div3, #div7, #div8, #div9 {
	width: 215px;
	margin: 40px;
}
#div4, #div5, #div6 {
	width: 300px;
	margin: 40px;
}
#section2Content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#div6 {
	display: inline-block;
	width: 500px;
	margin: 20 auto;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html, body {
	height: 100%;
	margin: 0;
}
.content {
	min-height: 100%;
	padding-bottom: 50px;
}



.footer {
	height: 50px;
	margin-top: -50px;
	/* background-color: red; */
	background-color: black;
	color: white;
	
	text-align: center;
	line-height: 50px;
}

#main-content {
	margin: 0 auto;
    width: 100%; 
	background-color: rgb(222, 222, 222);
	text-align: center;
}

#newsletter {
	width: 400px;
	margin: 0 auto;
	background-image: linear-gradient(to bottom,#01d3a4,#029d7b);
	padding: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#email, #name, #number, #dropdown {
	margin-bottom: 20px;
}
#submit {
	width: 100px;
	height: 50px;
	margin: 0 auto;
}
#titleLabel {
	text-align: center;
	padding-bottom: 15px;
}
input {
	box-sizing: border-box;
}
label, input[type=submit]{
	display: block;	
}
input[type=email], input[type=text], input[type=number], #dropdown {
	width: 300px;
	padding: 10px;
}

header {
	position: relative;
	top: 0px;
	left: 0px;
	
	width: 100%;
	height: 140px;
	/* background-color: green; */
	background-color: black;
}

main {
	width: 1500px;
	/* background-color: blue; */
	background-color: white;
	margin: 0 auto;
	padding: 30px;
}

#header-img {
	position: relative;
	float: left;
	width: 200px;
}
#nav-bar {
    position: fixed;
    width: 100%;
}
#nav-bar ul {
	float: right;
	list-style-type: none;
	line-height: 80px;
}

#nav-bar ul li{
	display: inline-block;
	/* same as header height */
	padding-left: 100px;
	padding-right:10px;
}

#nav-bar ul li a{
	color: white;
}

.nav-link {
	text-decoration: none;
	color: black;
	font-size: 25px;
}

@media only screen and (max-width: 500px) {
    #div6 {
		display: none;
    }
}